ak-form-error {
    .ak-form-help {
        text-align: left;
        margin: 5px 0;
        font-size: 0.8em;
        p {
            margin: 0;
        }
        &.ak-error {
            color: color($colors, danger);
        }
        &.ak-success {
            color: color($colors, primary);
        }
    }
}
