<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons right>
      <button ion-button clear icon-only (click)="edit()">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button ion-button clear icon-only (click)="settings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="account$ | async; let account">
    <img class="photo" *ngIf="account.picture" [src]="account.picture.url">
    <div padding>
      <h1>{{account.nickname}}</h1>
      <p>{{account.email}}</p>
    </div>
  </div>
</ion-content>